<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderlycare.mapper.financial.RefundMapper">

    <resultMap id="BaseResultMap" type="com.elderlycare.entity.financial.Refund">
        <id column="refund_id" property="refundId"/>
        <result column="refund_no" property="refundNo"/>
        <result column="order_id" property="orderId"/>
        <result column="refund_type" property="refundType"/>
        <result column="refund_amount" property="refundAmount"/>
        <result column="refund_reason" property="refundReason"/>
        <result column="refund_status" property="auditStatus"/>
        <result column="approval_time" property="auditTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectRefundPage" resultMap="BaseResultMap">
        SELECT
            refund_id,
            refund_no,
            order_id,
            refund_type,
            refund_amount,
            refund_reason,
            refund_status,
            approval_time,
            create_time
        FROM t_refund
        WHERE 1=1
        <if test="query.refundNo != null and query.refundNo != ''">
            AND refund_no LIKE CONCAT('%', #{query.refundNo}, '%')
        </if>
        <if test="query.orderId != null and query.orderId != ''">
            AND order_id = #{query.orderId}
        </if>
        <if test="query.auditStatus != null and query.auditStatus != ''">
            AND refund_status = #{query.auditStatus}
        </if>
        <if test="query.refundType != null and query.refundType != ''">
            AND refund_type = #{query.refundType}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
