<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderlycare.mapper.LoginLogMapper">

    <resultMap id="BaseResultMap" type="com.elderlycare.entity.LoginLog">
        <id column="login_log_id" property="loginLogId"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="login_time" property="loginTime"/>
        <result column="login_ip" property="loginIp"/>
        <result column="login_location" property="loginLocation"/>
        <result column="login_device" property="loginDevice"/>
        <result column="login_status" property="loginStatus"/>
        <result column="fail_reason" property="failReason"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insertLoginLog" parameterType="com.elderlycare.entity.LoginLog">
        INSERT INTO t_login_log (login_log_id, user_id, username, login_time, login_ip,
                                 login_location, login_device, login_status, fail_reason, create_time)
        VALUES (#{loginLogId}, #{userId}, #{username}, #{loginTime}, #{loginIp},
                #{loginLocation}, #{loginDevice}, #{loginStatus}, #{failReason}, NOW())
    </insert>

    <update id="updateLoginLog">
        UPDATE t_login_log
        SET login_status = #{loginStatus},
            fail_reason = #{failReason}
        WHERE login_log_id = #{loginLogId}
    </update>

    <select id="selectLatestByUserId" resultMap="BaseResultMap">
        SELECT * FROM t_login_log
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
        LIMIT 1
    </select>

    <select id="countLoginFailByUserIdAfter" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_login_log
        WHERE user_id = #{userId}
        AND login_status = 'FAIL'
        AND create_time &gt; #{time}
    </select>

</mapper>
