<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elderlycare.mapper.quality.QualityCheckMapper">

    <resultMap id="BaseResultMap" type="com.elderlycare.entity.quality.QualityCheck">
        <id column="quality_check_id" property="qualityCheckId"/>
        <result column="check_no" property="checkNo"/>
        <result column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="service_log_id" property="serviceLogId"/>
        <result column="service_category" property="serviceCategory"/>
        <result column="provider_id" property="providerId"/>
        <result column="provider_name" property="providerName"/>
        <result column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="check_type" property="checkType"/>
        <result column="check_method" property="checkMethod"/>
        <result column="check_score" property="checkScore"/>
        <result column="check_result" property="checkResult"/>
        <result column="check_photos" property="checkPhotos"/>
        <result column="check_remark" property="checkRemark"/>
        <result column="check_time" property="checkTime"/>
        <result column="checker_id" property="checkerId"/>
        <result column="checker_name" property="checkerName"/>
        <result column="need_rectify" property="needRectify"/>
        <result column="rectify_notice" property="rectifyNotice"/>
        <result column="rectify_deadline" property="rectifyDeadline"/>
        <result column="rectify_status" property="rectifyStatus"/>
        <result column="rectify_photos" property="rectifyPhotos"/>
        <result column="rectify_remark" property="rectifyRemark"/>
        <result column="recheck_time" property="recheckTime"/>
        <result column="recheck_result" property="recheckResult"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <select id="selectQualityCheckPage" resultMap="BaseResultMap">
        SELECT * FROM quality_check
        WHERE deleted = 0
        <if test="dto.orderNo != null and dto.orderNo != ''">
            AND order_no LIKE CONCAT('%', #{dto.orderNo}, '%')
        </if>
        <if test="dto.providerId != null and dto.providerId != ''">
            AND provider_id = #{dto.providerId}
        </if>
        <if test="dto.providerName != null and dto.providerName != ''">
            AND provider_name LIKE CONCAT('%', #{dto.providerName}, '%')
        </if>
        <if test="dto.staffName != null and dto.staffName != ''">
            AND staff_name LIKE CONCAT('%', #{dto.staffName}, '%')
        </if>
        <if test="dto.serviceCategory != null and dto.serviceCategory != ''">
            AND service_category = #{dto.serviceCategory}
        </if>
        <if test="dto.checkType != null and dto.checkType != ''">
            AND check_type = #{dto.checkType}
        </if>
        <if test="dto.checkMethod != null and dto.checkMethod != ''">
            AND check_method = #{dto.checkMethod}
        </if>
        <if test="dto.checkResult != null and dto.checkResult != ''">
            AND check_result = #{dto.checkResult}
        </if>
        <if test="dto.needRectify != null">
            AND need_rectify = #{dto.needRectify}
        </if>
        <if test="dto.rectifyStatus != null and dto.rectifyStatus != ''">
            AND rectify_status = #{dto.rectifyStatus}
        </if>
        <if test="dto.startDate != null and dto.startDate != ''">
            AND check_time &gt;= #{dto.startDate}
        </if>
        <if test="dto.endDate != null and dto.endDate != ''">
            AND check_time &lt;= #{dto.endDate}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
